.flex {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }

  .column1, .column2 {
    width: 50%;
    height: 100vh;
    position: relative; }

  .column1__content, .column2__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.164)); }

  .column1__content-text, .column2__content-text {
    height: 100vh; }

  .column2 {
    background-image: url(IMG_0345.jpg);
    background-size: cover;
    background-position: center center; }

  .column2 svg {
    margin-top: -15px; }

  .video1 {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100%; }

  .box-shadow {
    background-color: rgba(0, 0, 0, 0.322);
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.651); }

  .text {
    z-index: 100;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); }

  @media (max-width: 767.98px) {
    .logo {
      height: 150px;
      width: 150px; }
    .home {
      height: 600px;
      width: 100%;
      background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(IMG_1075.jpg);
      background-size: cover;
      background-position: center center; }
    .home .row {


     }
     .home .row .col-4  {
margin-top: -200px;
     }
    .home .row .col-5 {
      display: none;
      height: 4px; }
    .flex {
      flex-direction: column; }
    .column1, .column2 {
      width: 100%;
      height: 50vh; }
    .column1__content, .column2__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      z-index: 99;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.164)); }
    .column1__content-text, .column2__content-text {
      height: 50vh; }
    .text {
      text-align: center;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .video1 {
      height: 50vh;
      width: 100%; } }

  .navigation__button {
    background-color: white;
    height: 4.5rem;
    width: 4.5rem;
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    z-index: 3000;
    border-radius: 50%;
    text-align: center; }

  .navigation__background {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    top: 3.25rem;
    right: 3.25rem;
    background-color: black;
    transition: all 1s; }

  .navigation__nav {
    min-height: 100vh;
    background-color: black;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 2000;
    opacity: 0;
    width: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .navigation__list {
    transition: all 1s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    text-align: center;
    width: 100%; }

  .navigation__item {
    text-align: center;
    transition: all 1s; }

  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-weight: 300;
    color: white;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }

  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block;
    font-weight: 300;
    color: white;
    padding: .5rem 1rem; }

  .navigation__link:hover, .navigation__link:active {
    transform: translateX(0.2rem);
    background-position: 100%;
    color: black; }

  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(200); }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    visibility: visible; }

  .navigation__icon {
    position: relative;
    top: 1.1rem; }

  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }

  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s; }

  .navigation__icon::before {
    top: -.6rem; }

  .navigation__icon::after {
    top: .6rem; }

  .navigation__button:hover .navigation__icon::before {
    top: -.8rem;
    transition: all .3s; }

  .navigation__button:hover .navigation__icon::after {
    top: .8rem;
    transition: all .3s; }

  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }

  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    transform: rotate(-45deg);
    top: 0rem; }

  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    transform: rotate(45deg);
    top: 0rem; }

  .navigation__checkbox {
    visibility: hidden; }

  @media (min-width: 768px) and (max-width: 899.98px) {
    .home .row .col-5 {
      position: absolute;
      top: 200px;
      left: -20px; } }

  @media (min-width: 900px) {
    .home .row .col-5 {
      left: 1%; } }

  @media (min-width: 1000px) {
    .home .row .col-5 {
      left: 4%; } }

  @media (min-width: 1100px) {
    .home .row .col-5 {
      left: 4.5%; } }

  @media (min-width: 768px) {
    .logo {
      height: 200px;
      width: 200px; }
    .home {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(IMG_1075.jpg);
      background-size: cover;
      background-position: center center; }

    .home .row .col-5 {
      position: absolute;
      top: 200px; }
    .navigation__button {
      background-color: white;
      height: 6rem;
      width: 6rem;
      position: fixed;
      top: 3rem;
      right: 1.5rem;
      z-index: 100;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      z-index: 3000;
      border-radius: 50%;
      text-align: center; }
    .navigation__background {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      z-index: 1000;
      top: 4.25rem;
      right: 3.25rem;
      background-color: black;
      transition: all 1s; }
    .navigation__icon {
      position: relative;
      top: 1.8rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
    .navigation__button:hover .navigation__icon::before {
      top: -1.5rem;
      transition: all .3s; }
    .navigation__button:hover .navigation__icon::after {
      top: 1.5rem;
      transition: all .3s; } }

  .home {
    position: relative; }

  .home-btn {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    animation: moveloop 3s ease alternate infinite;
    -webkit-animation: moveloop 3s ease alternate infinite; }

  @keyframes moveloop {
    0% {
      transform: translateY(0px) translateX(0px); }
    25% {
      transform: translateY(-10px) translateX(0px); }
    50% {
      transform: translateY(10px) translateX(0px); }
    75% {
      transform: translateY(-10px) translateX(0px); }
    100% {
      transform: translateY(10px) translateX(0px); } }

  @-webkit-keyframes moveloop {
    0% {
      transform: translateY(0px) translateX(0px); }
    25% {
      transform: translateY(-10px) translateX(0px); }
    50% {
      transform: translateY(10px) translateX(0px); }
    75% {
      transform: translateY(-10px) translateX(0px); }
    100% {
      transform: translateY(10px) translateX(0px); } }
