#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
  }
#loader-text {
font-weight: 400;
letter-spacing: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
   
    transform: translate(-50%, -50%);
    animation: loader3 4s  ;
    -webkit-animation: loader3 4s  ;
}
#home1:hover {
    color: #16c0f0;
}
@keyframes loader3 {
    0% {
   opacity: 0;
        }
    30% {
opacity: 0;
    }
    35% {
        opacity: 0;
    }
  
        50% {
          
 opacity: 1;
       
        }
  }
  @-webkit-keyframes loader3 {
    0% {
        opacity: 0;
             }
         30% {
     opacity: 0;
         }
         35% {
             opacity: 0;
         }
         
             50% {
               
      opacity: 1;
            
             }
  }
  .loader {
   
    position: absolute;
    top: 50%;
    left: 50%;
    
   
    transform: translate(-50%, -50%);
    animation: loader 4s  ;
    -webkit-animation: loader 4s  ;
  }
  
  @keyframes loader {
    0% {
        height: 2px;
        width: 900px;
          background-color: white;
          border-left-color: transparent;
        }
        20% {
            height: 2px;
            width: 0px;
         background-color: white;
         
        }
        30% {
            height: 90vh;
            width: 2px;
         background-color: white;
    
       
        }
        40% {
            height: 1px;
            width: 1px;
         background-color: white;
        }
  }
  @-webkit-keyframes loader {
    0% {
        height: 2px;
        width: 900px;
          background-color: white;
          border-left-color: transparent;
        }
        20% {
            height: 2px;
            width: 0px;
         background-color: white;
         
        }
        30% {
            height: 90vh;
            width: 2px;
         background-color: white;
    
       
        }
        40% {
            height: 1px;
            width: 1px;
         background-color: white;
        }
  }
  .loader1 {
   
    position: absolute;
    top: 50%;
    left: 50%;
    
   
    transform: translate(-50%, -50%);
    animation: loader1 1s  ;
    -webkit-animation: loader1 1s  ;
  }
  
  @keyframes loader1 {
    0% {
    height: 2px;
    width: 2px;
      background-color: white;
      border-left-color: transparent;
    }
    50% {
        height: 2px;
        width: 90vw;
     background-color: white;
     
    }
    60% {
        height: 100px;
        width: 2000px;
     background-color: white;

   
    }
  }
  @-webkit-keyframes loader1 {
    0% {
    height: 2px;
    width: 2px;
      background-color: white;
      border-left-color: transparent;
    }
    50% {
        height: 90vh;
        width: 2px;
     background-color: white;
     
    }
    60% {
        height: 100px;
        width: 2000px;
     background-color: white;

   
    }
  }
html {
    scroll-behavior: smooth;
}
#col-header-description {
    margin-top: 18%;
}
.header {
height: 750px;

background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);

background-position: center center;

}
#logo {
    margin-top: 20%;
}
#h1-header {
   
    margin-bottom: 1rem;
}
#h2-header {
    color: rgb(131, 131, 131);
    margin-bottom: 1rem;
}
#btn-header {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    background-color: black;
    color: white;
/*
 clip-path: polygon(0 0, 30% 0, 30% 20%, 70% 20%, 70% 0, 100% 0, 100% 100%, 70% 100%, 70% 80%, 30% 80%, 30% 100%, 0 100%);
*/
    margin-top: 1rem;
    font-size: 24px;
   
}
#btn-header:hover {
  
 box-shadow: 0 4px 16px 1px black;

}
.line {
    height: 5px;
    background-color: rgb(131, 131, 131);
}
.about {
    background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);

    background-position: center center; padding-top: 100px;
    
    
    color: black;
}
#line-small {
  
    height: 5px;
    background-color: rgb(131, 131, 131);
    width: 80px;
}
#img-about {
    border-radius: 15px;
     border: 5px solid rgb(131, 131, 131);
  
    margin-bottom: 100px;
}
.img-craousel {
    min-height: 700px;
    max-height: 700px;
}
#h1-carousel {
    position: absolute;
    bottom: 300px;
    left: 60px;
    font-size: 105px;
    color: black;
}
#h2-carousel {
    position: absolute;
    bottom: 150px;
    left: 60px;
    text-align: left;
    font-size: 70px;
    color: black;
}
#h11-carousel {
    position: absolute;
    bottom: 150px;
    left: 60px;
    font-size: 105px;
    color: white;
}
#h22-carousel {
    position: absolute;
    bottom: 150px;
    left: 60px;
    text-align: left;
    font-size: 70px;
    color: white;
}
#h111-carousel {
    position: absolute;
    bottom: 300px;
    left: 60px;
    font-size: 105px;
    color: rgb(255, 254, 254);
}
#h222-carousel {
    position: absolute;
    bottom: 150px;
    left: 60px;
    text-align: left;
    font-size: 70px;
    color: rgb(228, 215, 215);
}
.img-features {
    max-height: 500px;
   
    border: 5px solid aqua;
    border-radius:  10px;
}
#text-features {
    font-style: italic;
}
.features {
 /*
background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);
*/
    color: black;
    padding-bottom: 3rem;
    background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);

    background-position: center center;
}
.contact {
    background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);

    background-position: center center;
     /*
background-image: url(https://1.bp.blogspot.com/-ew-OwCosX48/Xuoss_UDdPI/AAAAAAAAT6I/6bkTxtlC-L8wL-66-JYvHObWbGnKsHEFwCK4BGAsYHg/w640-h426/ultra-high-resolution-heroscreen.cc-wallpaper-5760x3840.png);

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.534), black) , url(1.jpg);
   */
    color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  border-radius: 2px;
  height: 150px;
  width: 110px;
  background-color: white;
 
  
}

.carousel-control-prev-icon {
    border-radius: 2px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 150px;
    width: 110px;
    background-color: white;
}

#fab {
    margin-top: 35px;
    font-size: 60px;
    margin-bottom: 35px;
    color: white;
}
.counter-section {
    padding-bottom: 30px;
    font-size: 50px;
    background-image: linear-gradient(to left, black, rgba(255, 255, 255, 0)) ,url(https://trumpwallpapers.com/wp-content/uploads/Workout-Wallpaper-04-1900-x-1058.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#a-footer {
    color: white;
    font-size: 50px;
}
.footer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.534), black) , url(1.jpg);
  
    
}
#footer {
    
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.334), rgba(0, 0, 0, 0.534)) , url(https://st3.depositphotos.com/9527076/12784/i/950/depositphotos_127843960-stock-photo-fitness-or-building-background-old.jpg);
   
    background-size: cover;
}
.fab  {
    margin-top: 25px;
    margin-bottom: 50px;
}
#footer-span {
   
    font-size: 30px;
    color: white;
   
}
#footer-span:hover {
   
    font-size: 30px;
    color: white;
    text-decoration: none;
   
}
.btn-a {
    color: aqua;
}
.edit1 {
    margin-left: 120px;
}
.edit2 {
    margin-left: 120px;
}
nav {
    box-shadow: 0px 2px 2px 0px rgb(94, 94, 94);
    font-size: 20px;
transition: all .4s;
    opacity: 0;
}
.actives {
    border-bottom: 2px solid aqua;
}
#contact2 {
    background-color: rgba(58, 58, 58, 0.171);
    padding-top: 50px;
    padding-bottom: 50px;
}
body {
overflow-x: hidden;
    
}
